<% if note.id.nil? %>
  <h2>新規投稿</h2>
<% else %>
  <h2>投稿編集</h2>
<% end %>
<%= form_with model: note do |f| %>
  <%= f.submit class: "btn btn-primary mb-1"%>
  <h2><%= f.label :title %></h2>
  <%= f.text_field :title, class: "form-control" %>

  <h2><%= f.label :tag_name %></h2>
  <%= f.text_field :tag_name, class: 'form-control' %>
 
  <h2><%= f.label :content %></h2>
  <%= f.text_area :content, id: "editor", class: "form-control w100 mb-1", rows: "5" %><br>
<% end %>
