<div class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto">
    <h2>
      <%= I18n.t("search.results") %>
      <%= I18n.t("search.count", count: @notes_count) %>
    </h2>
      <% if !@search_keyword.nil? %>
        <% if !@search_keyword.empty?%>
          <h4><%= I18n.t("search.word") %>:"<%= @search_keyword %>"</h4>
        <% end %>
      <% end %>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th><%= I18n.t("user.name") %></th>
          <th><%= I18n.t("note.title") %></th>
          <th><%= I18n.t("note.tag") %></th>
          <th><%= I18n.t("note.content") %></th>
          <th><%= I18n.t("note.comment") %></th>
          <th><%= I18n.t("note.favorite") %></th>
          <th><%= I18n.t("note.created_at") %></th>
          <th><%= I18n.t("note.updated_at") %></th>
        </tr>
      </thead>
      <tbody class="border-bottom">
        <% @notes.each do |note| %>
          <tr>
            <td>
              <div class="mb-3">
                <% if admin_signed_in? %>
                  <%= link_to admin_user_path(note.user.name) do %>
                    <%= image_tag note.user.get_image(50, 50), size: "50x50" %>
                    <%= note.user.name %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(note.user.name) do %>
                    <%= image_tag note.user.get_image(50, 50), size: "50x50" %>
                    <%= note.user.name %>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td><%= link_to note.title.truncate(20), note_path(note) %></td>
            <td>
              <% note.tags.each do |tag| %>
                <li style="list-style: none;">
                  <%= link_to notes_path(tag_search: true, keyword: tag.name) do %>
                    <%= tag.name %>
                  <% end %>
                </li>
              <% end %>
            </td>
            <td><%= note.content.truncate(20) %></td>
            <td><%= I18n.t("note_comment", count: note.note_comments.count) %></td>
            <td><%= I18n.t("favorite", count: note.favorites.count) %></td>
            <td><%= note.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= note.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
    <%# TODO:ページネーションのAjax化 %>
    <div class="d-flex justify-content-center">
      <%= paginate @notes %>
    </div>
    </div>
  </div>
</div>
