<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h2>投稿ユーザー</h2>
      <div class="mb-3">
        <% if admin_signed_in? %>
          <%= link_to admin_user_path(@note.user.name) do %>
            <%= image_tag @note.user.get_image(50, 50), size: "50x50" %>
            <%= @note.user.name %>
          <% end %>
        <% else %>
          <%= link_to user_path(@note.user.name) do %>
            <%= image_tag @note.user.get_image(50, 50), size: "50x50" %>
            <%= @note.user.name %>
          <% end %>
        <% end %>
      </div>
      
      <%# 投稿詳細 %>
      <div id="note">
        <%= render 'layouts/note', {title: @title, note: @note, note_comment: @note_comment, note_comments: @note_comments_pagination} %>
      </div>
    </div>
  </div>
</div>
