<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h2>投稿詳細</h2>
      <h4>投稿ユーザー</h4>
      <div class="mb-3">
        <% if admin_signed_in? %>
          <%= link_to admin_user_path(@note.user.name) do %>
            <%= image_tag @note.user.get_image(50, 50), size: "50x50" %>
            <%= @note.user.name %>
          <% end %>
        <% else %>
          <%= link_to user_path(@note.user.name) do %>
            <%= image_tag @note.user.get_image(50, 50), size: "50x50" %>
            <%= @note.user.name %>
          <% end %>
        <% end %>
      </div>
      
      <%# 投稿詳細 %>
      <%= render 'layouts/note', {note: @note, note_comment: @note_comment} %>
      
    </div>
  </div>
</div>
