<div class="container">
  <div class="row">
    
    <div class="mx-auto col-8 mt-3">
      <%# プロフィール編集 %>
      <h2><%= I18n.t("user.edit") %></h2>
    
      <%# バリデーションエラー %>
      <%= render "layouts/errors", obj: @user %>
      
      <%= form_with model: @user, url: admin_user_path do |f| %>
      
        <%= f.label :name, I18n.t("user.name") %><br>
        <%= f.text_field :name, class: "form-control w100" %><br>
        
        <%= f.label :email, I18n.t("user.email") %><br>
        <%= f.email_field :email, class: "form-control w100" %><br>
        
        <%= f.label :image, I18n.t("user.image") %><br>
        <%= image_tag @user.get_image(100, 100), size: "100x100", class: "d-block mx-auto border" %>
        <%= f.file_field :image, accept: "image/*" %><br><br>
        
        <%= f.radio_button :is_deleted, false %>
        <%= f.label :is_deleted_false, I18n.t("user.is_deleted.false") %>
        
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :is_deleted_true, I18n.t("user.is_deleted.true") %><br><br>

        <p><%= I18n.t("user.created_at") %>:<%= @user.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
        <p><%= I18n.t("user.updated_at") %>:<%= @user.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
        
        <div class="text-center mt-1">
          <%= f.submit class: "btn btn-info w-50" %>
        </div>
        
        <div class="text-center mt-4">
          <%= link_to I18n.t("user.index"), admin_users_path, class: "btn btn-secondary w-50" %>
        </div>

        <div class="text-center mt-1">
          <%= link_to I18n.t("user.show"), admin_user_path(@user.name), class: "btn btn-secondary w-50" %>
        </div>
        
      <% end %>
      
    </div>
  </div>
</div>
