<div class="container">
  <div class="row">

    <div class="col-12">
      <%# ユーザー一覧 %>
      <h2><%= I18n.t("user.index") %></h2>
    </div>

    <div class="col-12 m-3">
      <%= search_form_for @q, url: search_admin_users_path, class: "d-flex justify-content-center align-items-center" do |f| %>
        <%# ユーザー名 %>
        <%= f.label :name_cont, I18n.t("user.name"), class: "h5 text-center" %>
        <%= f.search_field :name_cont, class: "form-control w-50" %>
        <%# ユーザー検索 %>
        <%= f.submit I18n.t("user.search"), class: "btn btn-success" %>
      <% end %>
    </div>

    <table class="table table-hover shadow-lg">
      <thead class="bg-light">
        <tr>
          <th><%= I18n.t("user.id") %></th>
          <th></th>
          <th><%= I18n.t("user.name") %></th>
          <th><%= I18n.t("user.email") %></th>
          <th><%= I18n.t("user.status") %></th>
          <th><%= I18n.t("user.created_at") %></th>
          <th><%= I18n.t("user.updated_at") %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="border-bottom">
        <% @results.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <div class="mb-3">
                <% if admin_signed_in? %>
                  <%= link_to admin_user_path(user.name) do %>
                    <%= image_tag user.get_image(30, 30), size: "30x30" %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(user.name) do %>
                    <%= image_tag user.get_image(30, 30), size: "30x30" %>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <% if user.is_deleted == false %>
              <%# 有効 %>
              <td class="text-success font-weight-bold"><%= I18n.t("user.is_deleted.false") %></td>
            <% else %>
              <%# 無効 %>
              <td class="text-secondary font-weight-bold"><%= I18n.t("user.is_deleted.true") %></td>
            <% end %>
            <td><%= user.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= user.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <%# プロフィール編集ボタン %>
            <td><%= link_to I18n.t("user.edit"), edit_admin_user_path(user.name), class: "btn btn-sm btn-outline-secondary" %></td>
            <%# ユーザー詳細ボタン %>
            <td><%= link_to I18n.t("user.show"), admin_user_path(user.name), class: "btn btn-sm btn-outline-secondary" %></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
    <div class="mx-auto">
      <%= paginate @results %>
    </div>
    
  </div>
</div>
