<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="shadow-lg p-1 shadow-lg rounded">
        <%= image_tag @user.get_image(80, 80), size: "80x80", class: "d-block mx-auto border" %>
        <p class="text-center"><%= @user.name %></p>
          <%= link_to "ユーザー情報を編集する", edit_admin_user_path(@user.name), class: "btn btn-secondary btn-sm d-block mx-auto" %>
      </div>
      <div class="d-flex justify-content-around my-1">
        <div id="index">
          <%= link_to "投稿一覧", admin_notes_path(name: @user.name), class: "btn btn-info btn-sm", remote: true %>
        </div>
        <div id="favorite_index">
          <%= link_to "いいね一覧", admin_notes_path(name: @user.name, favorite: true), class: "btn btn-success btn-sm", remote: true %>
        </div>
      </div>
      <div id="jstree">
        <%# 投稿一覧 %>
        <ul>
          <li data-jstree='{ "icon" : "fa fa-folder", "opened" : true }'>
            <%= link_to "投稿一覧", admin_notes_path(name: @user.name), remote: true %>
            <ul>
              <% @notes.each do |note| %>
                <li data-jstree='{ "icon" : "far fa-file" }'>
                  <%= link_to note.title, admin_note_path(note), remote: true %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <%# いいね一覧 %>
        <ul>
          <li data-jstree='{ "icon" : "fas fa-heart", "opened" : true }'>
            <%= link_to "いいね一覧", admin_notes_path(name: @user.name, favorite: true), remote: true %>
            <ul>
              <% @favorite_notes.each do |note| %>
                <li data-jstree='{ "icon" : "far fa-file" }'>
                  <%= link_to note.title, admin_note_path(note), remote: true %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="offset-md-1 col-md-8">
      <div class="d-flex justify-content-between align-items-end">
        <div id="edit"></div>
        <div id="destroy"></div>
      </div>
      <div id="note">
        <% if !@notes_index.nil? %>
        <h2>投稿一覧</h2>
          <%= render "admin/notes/notes", notes: @notes_index %>
        <% end %>
      </div>
    </div>
  </div>
</div>
