<%= javascript_pack_tag "fadeout" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    
      <%# ユーザープロフィール %>
      <div class="shadow-lg p-1 shadow-lg rounded">
        <%= image_tag @user.get_image(80, 80), size: "80x80", class: "d-block mx-auto border" %>
        <p class="text-center"><%= @user.name %></p>
          <%= link_to "ユーザー情報を編集する", edit_admin_user_path(@user.name), class: "btn btn-secondary btn-sm d-block mx-auto" %>
      </div>
      
      <%# 投稿機能 %>
      <div class="d-flex justify-content-around my-1">
        <%# 投稿一覧ボタン %>
        <div id="index">
          <%= link_to I18n.t("note.index"), admin_notes_path(name: @user.name), class: "btn btn-info btn-sm", remote: true %>
        </div>
        <%# いいね一覧ボタン %>
        <div id="favorite_index">
          <%= link_to I18n.t("favorite.index"), admin_notes_path(name: @user.name, favorite: true), class: "btn btn-success btn-sm", remote: true %>
        </div>
      </div>
      
      <div id="jstree">
        <%# 投稿一覧 %>
        <ul>
          <li data-jstree='{ "icon" : "fa fa-folder", "opened" : true }'>
            <%= link_to I18n.t("note.index"), admin_notes_path(name: @user.name), remote: true %>
            <ul>
              <% @notes.each do |note| %>
                <li data-jstree='{ "icon" : "far fa-file" }'>
                  <%= link_to note.title.truncate(20), admin_note_path(note), remote: true %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <%# いいね一覧 %>
        <ul>
          <li data-jstree='{ "icon" : "fas fa-heart", "opened" : true }'>
            <%= link_to I18n.t("favorite.index"), admin_notes_path(name: @user.name, favorite: true), remote: true %>
            <ul>
              <% @favorite_notes.each do |note| %>
                <li data-jstree='{ "icon" : "far fa-file" }'>
                  <%= link_to note.title.truncate(20), admin_note_path(note), remote: true %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
    <%# メインメニュー %>
    <div class="offset-md-1 col-md-8">
      <div id="note">
        <%= render "layouts/notes", {title: @title, notes: @notes_pagination} %>
      </div>
    </div>
  </div>
</div>
