<%= javascript_pack_tag "fadeout" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    
      <%# ユーザープロフィール %>
      <div class="shadow-lg p-1 shadow-lg rounded">
        <%= image_tag @user.get_image(80, 80), size: "80x80", class: "d-block mx-auto border" %>
        <p class="text-center m-0"><%= @user.name %></p>
        
        <%# フォロー機能 %>
        <div class="d-flex justify-content-around border-top m-1">
          <div>
            <%= link_to following_user_path(@user.name), remote: true, class: "text-dark" do %>
              <p class="m-0">フォロー</p>
              <p id="following" class="m-0 text-center"><%= @user.following.count %></p>
            <% end %>
          </div>
          <div>
            <%= link_to followers_user_path(@user.name), remote: true, class: "text-dark" do %>
              <p class="m-0">フォロワー</p>
              <p id="followers" class="m-0 text-center"><%= @user.followers.count %></p>
            <% end %>
          </div>
        </div>
        
        <%# ユーザー編集ボタン %>
        <% if @user == current_user %>
          <% unless @user.name == "guestuser" %>
            <%= link_to "ユーザー情報を編集する", settings_profile_users_path, class: "btn btn-secondary btn-sm d-block mx-auto" %>
          <% end %>
        <% else %>
          <%# フォローボタン %>
          <div class="follow-btn-<%= @user.name %>">
            <% if current_user.following?(@user) %>
              <%= link_to "フォローを外す", user_relationships_path(@user.name), method: :delete, remote: true, class: "btn btn-outline-secondary btn-sm d-block mx-auto" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.name), method: :post, remote: true, class: "btn btn-secondary btn-sm d-block mx-auto" %>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <%# 投稿機能 %>
      <div class="d-flex justify-content-around my-1">
        <% if @user == current_user %>
          <div id="new">
            <%= link_to "新規投稿", new_note_path, class: "btn btn-primary btn-sm", remote: true %>
          </div>
        <% end %>
        <div id="index">
          <%= link_to "投稿一覧", notes_path(name: @user.name), class: "btn btn-info btn-sm", remote: true %>
        </div>
        <div id="favorite_index">
          <%= link_to "いいね一覧", notes_path(name: @user.name, favorite: true), class: "btn btn-success btn-sm", remote: true %>
        </div>
      </div>
      <div id="jstree">
        <ul>
          <li data-jstree='{ "icon" : "fa fa-folder", "opened" : true }'>
            <%= link_to "投稿一覧", notes_path(name: @user.name), remote: true %>
            <ul>
              <% @notes.each do |note| %>
                <li data-jstree='{ "icon" : "far fa-file" }'>
                  <%= link_to note.title, note_path(note), remote: true %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <%# いいね一覧 %>
        <ul>
          <li data-jstree='{ "icon" : "fas fa-heart", "opened" : true }'>
            <%= link_to "いいね一覧", notes_path(name: @user.name, favorite: true), remote: true %>
            <ul>
              <% @favorite_notes.each do |note| %>
                <li data-jstree='{ "icon" : "far fa-file" }'>
                  <%= link_to note.title, note_path(note), remote: true %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="offset-md-1 col-md-8">
      <div id="note">
        <% if !@notes_pagination.nil? %>
          <h2>投稿一覧</h2>
          <div id="notes_pagination">
            <%= render "layouts/notes", notes: @notes_pagination %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
