<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>投稿ユーザー</th>
      <th>コメント</th>
      <th>投稿日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% note_comments.order(updated_at: :desc).each do |note_comment| %>
      <tr>
        <td>
          <div class="mb-3">
            <%= link_to user_path(note_comment.user.name) do %>
              <%= image_tag note_comment.user.get_image(50, 50), size: "50x50" %>
              <%= note_comment.user.name %>
            <% end %>
          </div>
        </td>
        <td>
          <%= note_comment.comment %>
        </td>
        <td><%= note_comment.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td>
          <% if note_comment.user == current_user %>
            <%= link_to "コメント削除", note_note_comment_path(note_comment.note, note_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%
=begin
%>
<%# TODO:ページネーションのAjax化 %>
<div class="d-flex justify-content-center">
  <%= paginate note_comments %>
</div>
<%
=end
%>
