<%# タイトル（投稿詳細） %>
<h2><%= title %></h2>

<%# 投稿編集/投稿削除ボタン %>
<% if admin_signed_in? %>
  <div class="d-flex justify-content-between">
    <%# TODO: 管理者ユーザーで投稿編集可能にする場合はeditアクションを追加 %>
    <%# 投稿編集%>
    <%#= link_to I18n.t("note.edit"), admin_edit_note_path(note.id), class: "btn btn-success", remote: true %>
    <%# 投稿削除 %>
    <%= link_to I18n.t("note.destroy"), admin_note_path(note.id), class: "btn btn-danger", method: :delete, remote: true %>
  </div>
<% elsif (@note.user == current_user) %>
  <div class="d-flex justify-content-between">
    <%# 投稿編集 %>
    <%= link_to I18n.t("note.edit"), edit_note_path(note.id), class: "btn btn-success", remote: true %>
    <%# 投稿削除 %>
    <%= link_to I18n.t("note.destroy"), note_path(note.id), class: "btn btn-danger", method: :delete, remote: true %>
  </div>
<% end %>

<%# Title %>
<h4 class="d-inline-block"><%= I18n.t("note.title") %></h4>
<div id="favorite_btn_<%= note.id %>" class="d-inline-block">
  <% if admin_signed_in? %>
    <i class="fas fa-heart"></i><%= note.favorites.count %>
  <% else %>
    <%= render "public/favorites/favorite_btn", note: note %>
  <% end %>
</div>
<h4 class="px-2"><%= note.title %></h4>

<%# Tag %>
<h4><%= I18n.t("note.tag") %></h4>
<div class="d-flex justify-content-start">
  <% note.tags.each_with_index do |tag, i| %>
    <li style="list-style: none;">
      <%= link_to notes_path(tag_search: true, keyword: tag.name) do %>
        #<%= tag.name %>
      <% end %>
      <% unless note.tags.length == i + 1 %>,<% end %>
    </li>
  <% end %>
</div>

<%# Content %>
<h4><%= I18n.t("note.content") %></h4>
<%# WARNING: textareaタグの改行禁止 (EasyMDEでプレビューした時にnote.contentがコードブロックで修飾されてしまうため) %>
<textarea id="editor-preview" class="form-control w100 mb-1" rows="5"><%= note.content %></textarea>

<%# Comment %>
<h4><%= I18n.t("note.comment") %></h4>
<div id="comments">
  <%= render "layouts/note_comments", note_comments: note_comments %>
</div>

<%# コメント投稿フォーム %>
<% unless admin_signed_in? %>
  <div>
    <%= form_with model: [note, note_comment], local: false, id: "comment_form" do |f| %>
      <%= f.submit "コメント投稿", class: "btn btn-info mb-1", id: "comment_submit" %>
      <small>&#8984;+Enter または Ctrl+Enter で投稿</small>
      <%= f.text_area :comment, rows: "5", class: "form-control w100 mb-1", placeholder: "コメントを入力" %>
    <% end %>
  </div>
<% end %>
