<%# タイトル（投稿一覧/いいね一覧） %>
<h2><%= title %></h2>

<%# ページネーション %>
<div class="d-flex justify-content-center">
  <%= paginate notes, remote: true %>
</div>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th><%= I18n.t("note.title") %></th>
      <th><%= I18n.t("note.tag") %></th>
      <th><%= I18n.t("note.content") %></th>
      <th><%= I18n.t("note.comment") %></th>
      <th><%= I18n.t("note.favorite") %></th>
      <th><%= I18n.t("note.created_at") %></th>
      <th><%= I18n.t("note.updated_at") %></th>
      
    </tr>
  </thead>
  <tbody class="border-bottom">
    <% notes.each do |note| %>
      <tr>
        <td><%= link_to note.title.truncate(20), note_path(note), remote: true %></td>
        <td>
          <% note.tags.each_with_index do |tag, i| %>
            <li style="list-style: none;">
              <%= link_to notes_path(tag_search: true, keyword: tag.name) do %>
                <%= tag.name.truncate(20) %>
              <% end %>
            </li>
          <% end %>
        </td>
        <td><%= note.content.truncate(20) %></td>
        <td><%= note.note_comments.count %>件</td>
        <td><i class="fas fa-heart"></i><%= note.favorites.count %></td>
        <td><%= note.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td><%= note.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<%# ページネーション %>
<div class="d-flex justify-content-center">
  <%= paginate notes, remote: true %>
</div>
