<%# ページャ %>
<div class="d-flex justify-content-center pager">
  <%= paginate note_comments, remote: true, params: {note_comment: nil} %>
</div>

<%# フラッシュメッセージ %>
<div id="notice" class="alert-success"></div>
<div id="error" class="alert-danger"></div>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>投稿ユーザー</th>
      <th>コメント</th>
      <th>投稿日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% note_comments.each do |note_comment| %>
      <tr id="comment_<%= note_comment.id %>">
        <td>
          <div class="mb-3">
            <% if admin_signed_in? %>
              <%= link_to admin_user_path(note_comment.user.name) do %>
                <%= image_tag note_comment.user.get_image(50, 50), size: "50x50" %>
                <%= note_comment.user.name %>
              <% end %>
            <% else %>
              <%= link_to user_path(note_comment.user.name) do %>
                <%= image_tag note_comment.user.get_image(50, 50), size: "50x50" %>
                <%= note_comment.user.name %>
              <% end %>
            <% end %>
          </div>
        </td>
        <td>
          <%= nl2br(note_comment.comment) %>
        </td>
        <td><%= note_comment.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td>
          <% if admin_signed_in? %>
            <%= link_to "コメント削除", admin_note_note_comment_path(note_comment.note, note_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
          <% elsif note_comment.user == current_user %>
            <%= link_to "コメント削除", note_note_comment_path(note_comment.note, note_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# ページャ %>
<div class="d-flex justify-content-center pager">
  <%= paginate note_comments, remote: true, params: {note_comment: nil} %>
</div>
