<!DOCTYPE html>
<html>
  <head>
    <title>Term</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div id="flash_box">
      <% if flash[:notice] %>
        <h5 class="alert-success text-center m-0" id="flash"><%= notice %></h5>
      <% end %>
      <% if flash[:alert] %>
        <h5 class="alert-danger text-center m-0" id="flash"><%= alert %></h5>
      <% end %>
    </div>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
