<!DOCTYPE html>
<html>
  <head>
    <title>Term</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style='font-family: "HiraginoSans-W0","Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 100;'>
    <%= render "layouts/header" %>
    <p class="text-success"><%= notice %></p>
    <p class="text-danger"><%= alert %></p>
    <%= yield %>
  </body>
  
  <footer>
    <%= render "layouts/footer" %>
  </footer>
</html>
